#
# SERVICES
#

HOUSEHOLD_METRICS_WRITER_HOST=localhost
HOUSEHOLD_METRICS_WRITER_PORT=3000

HOUSEHOLD_METRICS_READER_HOST=localhost
HOUSEHOLD_METRICS_READER_PORT=3001

PRODUCTION_WRITER_HOST=localhost
PRODUCTION_WRITER_PORT=3002

PRODUCTION_EVALUATOR_HOST=localhost
PRODUCTION_EVALUATOR_PORT=3003

CONSUMPTION_REGULATOR_HOST=localhost
CONSUMPTION_REGULATOR_PORT=3004

CUSTOMER_REGISTRY_HOST=localhost
CUSTOMER_REGISTRY_PORT=3005

COMMUNITY_MANAGER_HOST=localhost
COMMUNITY_MANAGER_PORT=3006

PRODUCTION_READER_HOST=localhost
PRODUCTION_READER_PORT=3007

METER_CONTROLLER_HOST=localhost
METER_CONTROLLER_PORT=3008

INVOICE_ISSUER_HOST=localhost
INVOICE_ISSUER_PORT=3009

PRICE_ESTIMATOR_HOST=localhost
PRICE_ESTIMATOR_PORT=3010

HOUSEHOLD_METRICS_CALCULATOR_HOST=localhost
HOUSEHOLD_METRICS_CALCULATOR_PORT=3012

